@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: montserrat;
}
aside
{
    background: #FAFFC1;
    width: 19vw !important;
    height: 100vh !important;
}
.profil
{
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
}
ul :hover
{
    background-color: #00C1FE;
    border-radius: 0.5vw;
}
nav>ul>li>a>i
{
    width: 3vw;
}
.logOut :hover
{
    background-color: #00C1FE;
    border-radius: 0.5vw;
    cursor: pointer;
}
.content
{
    width: 81vw;
    height: 100vh;
    /* background: #E5E5E5; */
}
.searchBar
{
    height: 10vh;
    position: relative;
}
.play
{
    position: absolute;
    left: 4vw;
}
.recherche
{
    position: absolute;
    right: 4vw;
}
.body
{
    background-color: #E5E5E5;
    height: 90vh;
}
.body>.cards>div
{
    width: 15vw;
}
.student
{
    background: #F0F9FF ;
}
.course
{
    background:#FEF6FB;
}
.payment
{
    background: #FEFBEC;
}
.users
{
    background:linear-gradient(110.42deg, #00C1FE 18.27%, #FAFFC1 91.84%);
}
@media screen and (max-width : 768px)
{
    main
    {
        display: flex;
        flex-direction: column-reverse;
        width: 100vw;
        height: 100vh;
    }
    .profilDiv
    {
        display: none !important;
    }
    nav
    {
        width: 100%;
    }
    .content
    {
        width: 100%;
        height: 90vh;
    }
    .searchBar
    {
        width: 100%;
        height: 10%;
    }
    .body
    {
        width: 100% !important;
        height: 90% !important;
    }
    .cards
    {
        display: flex;
        flex-wrap: wrap;
        height: 100% !important;
    }
    .body>.cards>div
    {
        flex: 50%;
    }
    .student
    {
        height:30% !important;
    }
    .course
    {
        height: 30% !important;
    }
    .payment
    {
        height: 30% !important;
    }
    .users
    {
        height: 30% !important;
    }
    aside
    {
        width: 100% !important;
        height: 10vh !important;
    }
    nav>ul>li>a>p
    {
        display : none;
    }
    .eclasse
    {
        display: none;
    }
    ul
    {
        width: 100%;
        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: center;
    }
    nav>ul>li>a>i
    {
        width: 3vw;
    }
    .logOut
    {
        display: none !important;
    }
}