@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*
{
    font-family: montserrat;
}
body
{
    background: linear-gradient(90deg, rgba(0,193,254,1) 0%, rgba(250,255,193,1) 100%);
}
.container
{
    width: 40vw;
    border-radius: 20px;
    margin-top: 30px;
}
p
{
    font-size: 14px;
}
h1{
    margin-top: 10% !important;
}
@media screen and (max-width : 768px)
{
    .container
    {
        width: 90vw;
    }
}