@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: montserrat;
}
.all
{
    background: linear-gradient(90deg, rgba(0,193,254,1) 0%, rgba(250,255,193,1) 100%);
    width: 100vw;
    height: 100vh;
}
main
{
    width: 40%;
    height: 85%;
    border-radius: 20px;
}
p
{
    font-size: 14px;
}
.fa{
    visibility: hidden;
    margin-left: 10px;
}

@media screen and (max-width : 768px)
{
    main
    {
        width: 90%;
    }
}