aside
{
    background: #FAFFC1;
    width: 19vw !important;
    height: 100vh !important;
}
.profil
{
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
}
ul :hover
{
    background-color: #00C1FE;
    border-radius: 0.5vw;
}
nav>ul>li>a>i
{
    width: 3vw;
}
.logOut :hover
{
    background-color: #00C1FE;
    border-radius: 0.5vw;
    cursor: pointer;
}
.content
{
    width: 81vw;
    height: 100vh;
    background: #E5E5E5;
}
.searchBar
{
    height: 10vh;
    position: relative;
    background-color: white;
}
.play
{
    position: absolute;
    left: 4vw;
}
.recherche
{
    position: absolute;
    right: 4vw;
}
.body
{
    width: 81vw;
    height: 10vw;
}
.body>div
{
    width: 15vw;
}
.student
{
    background: #F0F9FF ;
}
.course
{
    background:#FEF6FB;
}
.payment
{
    background: #FEFBEC;
}
.users
{
    background:linear-gradient(110.42deg, #00C1FE 18.27%, #FAFFC1 91.84%);
}
@media screen and (max-width : 650px)
{
    main
    {
        display: flex;
        flex-direction: column-reverse;
    }
    aside
    {
        display: flex !;
        flex-direction: row-reverse !important;
        width: 100vw !important;
        height: 10vh !important;
    }
    .content
    {
        width: 100vw;
        height: 88vh;
    }
    .searchBar
    {
        height: 5vh;
    }
    .body
    {
        display: grid;
        grid-template: 2 ;
        gap: 10px;
        width: 50% !important;
        height: 90%;
    }
    nav>ul>li>a>p
    {
        display : none;
    }
    .eclasse
    {
        display: none;
    }
}